:root {
    --account-form-bg: #fefefe;
    --account-form-bg-secondary: #eff0f1;
    --label-color: #00bb92;
    --button-bg-color: #00bb92;
    --button-submit-text-color: #b7f5e7;
    --button-text-color: white;
    --main-text-color:#666666;
    --border-color:  #d6d6d6;
    --main-bg-color: #548092;
    --placeholder-color: #958f8f;
    --range-color: #b0adad;
    --main-font-family: 'Lato', sans-serif; 
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    font-family: var(--main-font-family);
}

::-webkit-input-placeholder  {
    color: var(--placeholder-color);
}

::-moz-placeholder {
    color: var(--placeholder-color);
}

::-ms-input-placeholder {
    color: var(--placeholder-color);
}

.account-form {
    border-radius: 20px;
    background-color: var(--account-form-bg);
    width: 740px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.account-form_header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
    background-color: var(--account-form-bg-secondary);
    padding: 30px;
    border-bottom: 1px solid var(--border-color);
}

.account-form_title {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 40px;
}

.account-form_main {
    padding: 40px;
}

.row {
    display: flex;
    width: 100%;
}

.col {
    width: 100%;
    padding: 10px;
}

.account-form_label {
    font-size: 20px;
    color: var(--label-color);
    width: 100%;
    display: block;
    margin-bottom: 4px;
}

.account-form_label.required::after {
    content: "*";
    color: var(--label-color);
}

.account-form_control {
    height: 50px;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
}

.account-form_range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 250px;
    height: 5px;
    margin-top: 25px;
    background-color: var(--range-color);
    border-radius: 3px;
}

.account-form_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--account-form-bg);
    border: 1px solid var(--range-color);
    border-radius: 50px;
    cursor: pointer;
    width: 17px;
    height: 17px;
  }

.account-form_range-button {
    border-radius: 5px;
    border: 1px solid var(--button-bg-color);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-size: 20px;
    padding: 6px 3px;
}

.account-form_control.text-box {
    height: auto;
}

.account-form_footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--account-form-bg-secondary);
    display: flex;
    justify-content: end;
    padding: 20px;
    padding-right: 60px;
    border-top: 1px solid var(--border-color);
}

.submit-data {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--button-bg-color);
    background-color: var(--button-bg-color);
    color: var(--button-submit-text-color);
    font-size: 20px;
}